################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ForInterview/ForInterview/bin
/ForInterview/.vs
/ForInterview/ForInterview/obj/Debug
